.title {
    display: flex;
    align-items: center;
    background-color: rgba( 0, 0, 0, 0.9 );
    color: #f8f8f8;
    padding: .6rem;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: .2rem;
}

.title span {
    margin-left: .8rem;
    font-size: 1.2rem;
}